* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

header {
  text-align: center;
}

body {
  margin: auto;
  width: 80%;
}

button {
  display: flex;
  width: 80%;
  justify-content: center;
}