* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  width: 90%;
  margin: auto;
}

li {
  list-style: none;
}

header {
  text-align: center;
  margin: 1.5em auto;
}

nav ul{
  display: flex;
  justify-content: space-around;
}

nav li:hover {
  color: red;
}

.chapters-and-info{
  display: flex;
  justify-content: space-evenly;
}

.main-content{
  text-align: justify;
}

.main-content h1 {
  text-align: center;
}

.main-content p {
  padding: 0.5em 0;
}

footer {
  padding: 0.75em 0;
  text-align: justify;
}

footer h3 {
  text-align: center;
}

